.post
  %h4 New Title
  %img{src: "http://l.yimg.com/a/i/ww/met/mod/wea/74x53/wea_01_s26.png"}
  %p ああああああああああああああああああああああああああ

.img-post
  %p
    %img{src: "http://l.yimg.com/a/i/ww/met/mod/wea/74x53/wea_01_s26.png"}
  %p.title  title

.img-text
  %h4 ABC
  %img{src: "http://l.yimg.com/a/i/ww/met/mod/wea/74x53/wea_01_s26.png"}
  %p.title aaa

